<div class="footer orange lighten-5">
	<div class="divider"></div>
	<h3 class="center">	About Me</h3>
</div>

<div class="row">
	<div class="col s12 m6 l6">
		<div class="container" [@popupAnim2]>
			<img src="assets/about me.png" class="responsive-img" style="margin-top: 10%;">
		</div>
	</div>
	<div class="col s12 m6 l6">
		<div class="container hide-on-small-only" style="font-family: 'calibri';font-size: 18px;margin-left:0px !important;" [@popupAnim]>
			<h4 style="font-size: 48px;font-weight: bold;">Hallo!</h4>
			<p><span style="font-size: 26px;font-weight: bold;">Aku Desti</span>, salam kenal 😊 Orang bilang aku adalah orang yang ramah, baik dan ceria. Aku bilang, aku itu orang yang ambisius, berangan tinggi, dan kreatif. Biasanya aku mengisi waktu luang dengan pergi ke pantai, dan salah satu kegiatan favorit aku yaitu melihat sunset. Aku juga suka travelling !
	 		</p>
	 		<p>Aku tinggal di Bali sekarang, sebelumnya aku juga pernah tinggal di Amerika selatan dan juga New Zealand.</p>
	 		<p>Blog aku ini isinya pengalaman pribadi dan opini yang aku kembangkan. Semoga pengalaman dan opiniku bisa membantu teman sekalian. </p>
	 		<p>Aku percaya sama slogan “tak kenal maka tak sayang” , ayo SUBSCRIBE untuk kenal lebih dalam lagi dan saling berbagi informasi!</p>
	 		<p>Enjoy reading my Blog!</p>
	 	</div>
	 	<div class="container hide-on-med-and-up" style="font-family: 'calibri';font-size: 18px;" [@popupAnim]>
			<h4 style="font-size: 48px;font-weight: bold;">Hallo!</h4>
			<p><span style="font-size: 26px;font-weight: bold;">Aku Desti</span>, salam kenal 😊 Orang bilang aku adalah orang yang ramah, baik dan ceria. Aku bilang, aku itu orang yang ambisius, berangan tinggi, dan kreatif. Biasanya aku mengisi waktu luang dengan pergi ke pantai, dan salah satu kegiatan favorit aku yaitu melihat sunset. Aku juga suka travelling !
	 		</p>
	 		<p>Aku tinggal di Bali sekarang, sebelumnya aku juga pernah tinggal di Amerika selatan dan juga New Zealand.</p>
	 		<p>Blog aku ini isinya pengalaman pribadi dan opini yang aku kembangkan. Semoga pengalaman dan opiniku bisa membantu teman sekalian. </p>
	 		<p>Aku percaya sama slogan “tak kenal maka tak sayang” , ayo SUBSCRIBE untuk kenal lebih dalam lagi dan saling berbagi informasi!</p>
	 		<p>Enjoy reading my Blog!</p>
	 	</div>
	</div>
</div>