

 <!--  <nav class="z-depth-0">

    <div class="nav-wrapper orange lighten-5">
      <a [routerLink]="['']" id="logo-container" class="brand-logo"></a> -->
      <a materialize="sideNav" [materializeParams]="[{edge:'right', closeOnClick:true}]" href="#" data-activates="slide-out" class="button-collapse hide-on-large-only right " style="position: absolute;right:0px;top:0px;color: #424242;"><i class="material-icons">menu</i></a>
          <ul class="hide-on-med-and-down" id="firstul">
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/gallery']">Gallery</a></li>
            <li><a [routerLink]="['/aboutme']">About Me</a></li>
            <!-- <li><a [routerLink]="['/service']">Services</a></li> -->
            <li><a [routerLink]="['/contact']">Contacts</a></li>
          </ul>
       
          <ul class="hide-on-med-and-down right" id="secondul">
            <li *ngIf="!auth.userSignedIn() && edit.user.id" id="welcomeLi"> Welcome back, {{edit.user.name}}!</li>
            <li *ngIf="!auth.userSignedIn() && !edit.user.id"> <a (click)="openModal()" >Subscribe</a></li>
            <li *ngIf="!auth.userSignedIn() && edit.user.id"> <a (click)="unsubscribe()" >Unsubscribe</a></li>
            
            <li *ngIf="auth.userSignedIn()"><a [routerLink]="['/profile']">PROFILE</a></li>
            <li *ngIf="auth.userSignedIn()"><a (click)="logOut()">LOGOUT</a></li>
          </ul>
      

    <!-- </div> -->
    <div class="divider hide-on-med-and-down"></div>
  <!-- </nav> -->
<a *ngIf="!auth.userSignedIn()" (click)="presentAuthDialog()" id="loginBtn"></a>

<ul id="slide-out" class="side-nav orange lighten-5" style="z-index: 1000;max-width: 70%;padding-right: 5px;padding-left: 5px;">
  <li><a [routerLink]="['/']">Home</a></li>
  <li><a [routerLink]="['/gallery']">Gallery</a></li>
  <li><a [routerLink]="['/aboutme']">About Me</a></li>
  <!-- <li><a [routerLink]="['/service']">Services</a></li> -->
  <li><a [routerLink]="['/contact']">Contacts</a></li>
  <li *ngIf="!auth.userSignedIn() && !edit.user.id"> <a (click)="openModal()" >Subscribe</a></li>
  <li *ngIf="!auth.userSignedIn() && edit.user.id"> <a (click)="unsubscribe()" >Unsubscribe</a></li>
  <li *ngIf="auth.userSignedIn()"><a [routerLink]="['/profile']">PROFILE</a></li>
  <li *ngIf="auth.userSignedIn()"><a (click)="logOut()">LOGOUT</a></li>
  <ng-container *ngIf="edit.sideBarVar == 'home'">
    <a class="waves-effect waves-light btn white-text z-depth-0 grey darken-2" style="margin: 20px auto 10px auto;border: 2px solid #616161;border-radius: 5px;font-weight: bold;width: 100%;">CATEGORIES</a>
    <a *ngFor="let cat of edit.cats" (click)="catShow(cat.category)" class="waves-effect waves-light btn transparent grey-text text-darken-2 z-depth-0 wow" style="margin-top:10px;border: 2px solid #616161;border-radius: 5px;font-weight: bold;width: 100%;">{{cat.category}}</a>
    <a (click)="edit.catsItem=null" class="waves-effect waves-light btn transparent grey-text text-darken-2 z-depth-0 wow" style="margin-top:10px;border: 2px solid #616161;border-radius: 5px;font-weight: bold;width: 100%;">ALL</a>
  </ng-container>
  <ng-container *ngIf="edit.sideBarVar == 'show'">
    <a class="waves-effect waves-light btn white-text z-depth-0 grey darken-2" style="margin: 20px auto 10px auto;border: 2px solid #616161;border-radius: 5px;font-weight: bold;width: 100%;">SHARE</a>
      <div class="center" id="miaw">
          <share-buttons class="share_btn" [theme]="'outline'"
             [include]="['facebook','twitter','pinterest','whatsapp','messenger','telegram','vk','email','copy']"
             [show]="10"
             [size]="-3"
            ></share-buttons>
      </div>
  </ng-container>
</ul>


<app-auth-dialog #authDialog ></app-auth-dialog>

<div class="modal orange lighten-5" materialize="modal" [materializeActions]="modalActions" style="border-radius: 5px;max-width: 400px;">
    <div class="modal-content">
      <div class="divider" style="margin-bottom: 10px;"></div>
      <h3 *ngIf="newOne" class="flow-text center" style="font-family: 'Josefin Sans', sans-serif;">Welcome,<br>great things coming your way!</h3>

      <div class="divider"></div>
     
        <form (ngSubmit)="subscribe(edit.user)" #subscForm='ngForm'>
          <div class="input-field col s12">
            <input type="text" name="email"
            class="validate"
            [(ngModel)]='edit.user.email'
            required>
            <label for="email" data-error="email is required" data-success="Everithing is ok now" class="active">email</label>
          </div>
          <div class="input-field col s12">
            <input type="text" name="name"
            class="validate"
            [(ngModel)]='edit.user.name'
            required>
            <label for="name" data-error="name is required" data-success="Everithing is ok now" class="active">name</label>
          </div>
          <div class="center">
            <button type="submit" class="waves-effect waves-light btn-floating pink lighten-4 grey-text text-darken-2 z-depth-0 wow" style="margin: 20px auto 20px auto;border: 2px solid #616161;border-radius: 5px;font-weight: bold;width: 150px;padding-right: 10px;padding-left: 10px;" [disabled]="!subscForm.form.valid" [class.pulse]="subscForm.form.valid">Subscribe</button>
          </div>
        </form>
      
    </div>
</div>

<div class="overlay orange lighten-5" *ngIf="overlayHide" [@popupAnim]>
  <div class="overlay-img" [@popupAnim3]>
      <img src="assets/triangle.png" class="inside-overlay">
  </div>
  <div class="overlay-img second" [@popupAnim3]>
      <img src="assets/triangle.png" class="inside-overlay">
  </div>
</div>

<img *ngFor="let img of edit.galleryImgs" [src]="img" style="display:none;">