<div class="footer orange lighten-5">
	<div class="divider"></div>
	<h3 class="center">	Contacts</h3>
</div>

<div class="container" style="margin-top: 30px;font-family: 'Josefin Sans', sans-serif;">
	<h5 class="center">Terima Kasih sudah mengunjungi Blog ini!</h5>
	<h5 class="center">Kamu punya pertanyaan? Kritik dan saran atau request tulisan? </h5>
	<div class="row" style="margin-top: 20%;">
		<div class="col s12 m6 l6">
			<h6>Alamat E-mail   : theonlydestiaryani@gmail.com</h6><br>
			<h6>Alamat Kantor   : Jl. Goa gong ,Ungasan, Kuta selatan,

                           80361, Bali, Indonesia</h6>
		</div>
		<div class="col s12 m6 l6">
			<ul id="sotial">
		      <li>
		        <a href="https://www.facebook.com/dhea.chayankmu"><img src="assets/facebook.png"></a>
		      </li>
		      <li>
		        <a href="https://www.instagram.com/desti_aryni/"><img src="assets/instagram.png"></a>
		      </li>
		      <li>
		        <a href="https://id.pinterest.com/dheachayankmu/"><img src="assets/pinterest.png"></a>
		      </li>
		    </ul>
		</div>
	</div>
</div>
