<div class="modal" materialize="modal" [materializeActions]="modalActions">


  <div class="modal-content" style="padding-bottom: 0px;" >

    <div class="row" style="margin-bottom: 0px !important;">

        <h3 class="white-text flow-text">Mother's territory, keep off!</h3>
        <div style="margin-top: 100px;opacity: 0.4;">

          <app-login-form (onFormResult)="onLoginFormResult($event)"
                          *ngIf="isLoginMode()">

          </app-login-form>
        </div>
      
    </div>

  </div>

</div>