h1{
	font-family: 'Alex Brush';
	margin-top: 60px;
	margin-bottom: 60px;
}

#carousel{
	width: 100vw !important;
  	height: 50vw !important;
  	/*position:absolute;
	  left:0;
	  top:0;
	  right:0;
	  bottom:0;*/
  	/*width: 100%;
	padding-bottom:56.25%;
  	position:relative;	*/	
}

.image_carousel{
	width: 100% !important;
  	height: 100% !important;
  	min-height: 0px !important;
  	position: absolute;
  	top: 0px;
  	left:0px;
  	right: 0px;
  	bottom: 0px;
  	transform: none !important; 
}

#slider{
	width: 100vw !important;
  	height: 55vw !important;
	/*width: 100%;
	padding-bottom:50%;
  	position:relative;	*/
}


.img_slider{
	background-size: 100% 100% !important;
}

.divider{
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	height: 3px;
	background-color: #616161;
}

.category{
	font-family: 'tahoma';
	margin-top: 20px;
	margin-bottom: -10px;
	/*font-weight: bold;*/
	color: #bdbdbd;
}

.imgDiv{
	width: 100%;
	padding-bottom: 56.25%;
  	position:relative;
}

.imgDiv img{
	position:absolute;
	  left:0;
	  top:0;
	  right:0;
	  bottom:0;
	width: 100%;
	height: 100%;
}


#sotial{
	text-align: center;
}

#sotial li{
	display: inline;
}

#sotial li img{
	height: 50px;
	width: auto;
}

 .wow:hover{
	background-color: #f48fb1 !important;
}

.hexagon {
  -webkit-clip-path: polygon(100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0, 75% 0);
  clip-path: polygon(100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0, 75% 0);
  background: no-repeat;
  background-size: cover;
  margin: 10px auto;
  width: 100%;
  height: 80%;
  position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cont{
	width: 100%;
    padding-top: 100%;
    position:relative;
    transition: all .2s ease-in-out;

}

.cont:hover{
	transform: scale(1.1);
}


.truncate2{
  padding-top: 15px;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 55px; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 20px;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding-left: 5px;
}

.category2{
	margin-top: 0px;
	font-family: 'tahoma';
	/*font-weight: bold;*/
	color: #bdbdbd;
	text-align: left;
	padding-left: 5px;
}

.divider2{
	margin-bottom: 15px;
	color: #bdbdbd;
	width: 80%;
	font-weight: bold;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
	height: 25px;
}

.divider3{
	position: relative;
	top: -9px;
	margin-bottom: 15px;
	width: 80%;
	font-weight: bold;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
	height: 25px;
}

/*.circle-img{
  background: url(/assets/desti.jpg) 50% 50% no-repeat; 
  width: 100%;
  height: 250px;
}*/